{% extends 'uploader/base.html' %}
{% block content %}
<h2>Create Follow Task</h2>
<form method="post" class="mt-3">{% csrf_token %}
  <div class="mb-3">{{ form.category.label_tag }} {{ form.category }}</div>
  <div class="row">
    <div class="col-md-3 mb-3">{{ form.delay_min_sec.label_tag }} {{ form.delay_min_sec }}</div>
    <div class="col-md-3 mb-3">{{ form.delay_max_sec.label_tag }} {{ form.delay_max_sec }}</div>
    <div class="col-md-3 mb-3">{{ form.concurrency.label_tag }} {{ form.concurrency }}</div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">{{ form.follow_min_count.label_tag }} {{ form.follow_min_count }}</div>
    <div class="col-md-3 mb-3">{{ form.follow_max_count.label_tag }} {{ form.follow_max_count }}</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Select accounts</label>
    {{ form.selected_accounts }}
  </div>
  <button class="btn btn-success" type="submit">Create</button>
  <a class="btn btn-secondary" href="{% url 'follow_task_list' %}">Back</a>
</form>
{% endblock %}
