{"openapi":"3.1.0","info":{"title":"Dolphin{anty} Public API","version":"1.0.7","license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"},"description":"Hello and thank you for automating with Dolphin{anty}!\n\n## Support\n\nFor any questions, please contact our support (you can find support in the Dolphin{anty} [website](https://dolphin-anty.com) or in Dolphin{anty} app &ndash; just click at the right bottom corner).\n\n## LLM-friendly documentation\n\nIf you are looking for docs which you can paste into your LLM, just press _\"Download OpenAPI document\"_ link above. The document is in format that all LLMs understand.\n\n## Authorization\nAuthorization is done via a _JWT token_, which you can obtain from the Dolphin{anty} website: [https://dolphin-anty.com/panel](https://dolphin-anty.com/panel/index.html#/api).\n\nFill the name and token expiration, then click 'generate token'. You will be presented with a token that you can copy and paste into the `Authorization` header.\n\nThe token is shown only once, so make sure to copy it before closing the page.\n\n\nYou **must** present token in the `Authorization` header for **every request**.\n\n## Rate limiting\nThe API is rate limited to 500 requests per minute. If you exceed this limit, you will receive a 429 status code.\n\nRate limits are subject to change and fluctuate based on the load on the API, so you may receive a 429 status code even if you are within the limit.\n\nTo be sure you are not exceeding the limit, you can use those headers:\n- `x-ratelimiter-allowed-rph`\n- `x-ratelimiter-allowed-rpm`\n- `x-ratelimiter-allowed-rps`\n- `x-ratelimiter-rph-left`\n- `x-ratelimiter-rpm-left`\n- `x-ratelimiter-rps-left`\n\nThey will be sent with every request.\n\n## Error handling\nThe API returns standard HTTP status codes for errors. If the request is successful, the status code will be 200.\nIf the request is not successful, the status code will be 400 or 500.\nThe response body will contain a JSON object with the error message.\n\n## Types generation\n\nYou can generate types for your language of choice by using [openapi-typescript](https://github.com/drwpow/openapi-typescript) or [openapi-generator](https://openapi-generator.tech/).\n\nBy doing so, you will be able to use the API in your code without having to manually parse the response. You will have all the types and methods available in your IDE, with autocompletion and type checking. And the types will be updated automatically in case of any changes in the API.\n\nWe're highly recommending to do so, as it will make your life much easier.\n\n#### Python types generation example\n\n**Basic setup:**\n```bash\npip install openapi-generator-cli\ncurl -o openapi.yaml http://docs.dolphin-anty-cdn.com/openapi.yaml\nopenapi-generator generate -i openapi.yaml -g python -o ./python-client\npip install -e ./python-client\n```\n\n_Tip: Whichever language you use, run the **type generation and client setup** step in your CI pipeline or as a git hook so that every change to our types in `openapi.yaml` automatically refreshes your typed client._\n\n**Usage in code:**\n```python\nfrom openapi_client import ApiClient, Configuration\nfrom openapi_client.api import proxies_api\nfrom openapi_client.models import ProxyCreateInput\n\nconfiguration = Configuration()\nconfiguration.api_key['Authorization'] = 'YOUR_API_KEY'\nconfiguration.api_key_prefix['Authorization'] = 'Bearer'\n\napi_instance = proxies_api.ProxiesApi(api_client=ApiClient(configuration))\nproxy_create_input = ProxyCreateInput(\n    type=\"http\",\n    host=\"proxy.example.com\",\n    port=8080,\n    login=\"username\",\n    password=\"password\"\n)\n\napi_instance.create_proxy(proxy_create_input)\n```\n\n#### TypeScript type-safe client examples\n\n**First generate static types once:**\n```bash\nnpx openapi-typescript openapi.yaml -o src/api.d.ts\n```\n\n_Tip: Whichever language you use, run the **type generation and client setup** step in your CI pipeline or as a git hook so that every change to our types in `openapi.yaml` automatically refreshes your typed client._\n\n\n##### Pattern 1 – openapi-fetch (zero-codegen)\n\n```bash\nnpm install openapi-fetch openapi-typescript\n```\n\n```typescript\nimport createClient from 'openapi-fetch';\nimport type { paths } from './api';\n\nconst client = createClient<paths>({\n  baseUrl: 'https://dolphin-anty-api.com',\n  headers: { Authorization: 'Bearer YOUR_API_KEY' },\n});\n\nconst { data } = await client.POST('/proxy', { body: proxyCreateInput });\n```\n\n##### Pattern 2 – openapi-client-axios (Axios wrapper)\n\n```bash\nnpm install axios openapi-client-axios openapi-typescript\n```\n\n```typescript\nimport OpenAPIClientAxios from 'openapi-client-axios';\nimport type { paths } from './api';\n\nconst api = new OpenAPIClientAxios<paths>({\n  definition: 'http://docs.dolphin-anty-cdn.com/openapi.yaml',\n});\nconst client = await api.init();\n\nawait client.createProxy(null, proxyCreateInput);\n```\n\n## Guarantees\n\nWe are trying not to break things, but sometimes we have to.\n\nWhen this happens, we are notifying our users via:\n\n1. Our Telegram channel: [@dolphin_anty](https://t.me/dolphin_anty)\n2. Our app notifications (top right corner, icon with bell).\n\nWhen an endpoint is undergoing for a planned deprecation, we will also mark it as deprecated here, in this Swagger/OpenAPI document.\n"},"servers":[{"url":"https://dolphin-anty-api.com/api/v2"},{"url":"https://dolphin-anty-api.com"},{"url":"https://localhost:3001"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Proxies","description":"Proxy-related endpoints"},{"name":"Browser Profile Statuses","description":"Browser profile status-related endpoints"},{"name":"Extensions","description":"Extension-related endpoints"},{"name":"Folders","description":"Folder-related endpoints"},{"name":"Browser Profiles","description":"Browser profile-related endpoints"},{"name":"Fingerprints","description":"Fingerprint-related endpoints"},{"name":"Homepages","description":"Homepage-related endpoints"},{"name":"Bookmarks","description":"Bookmark-related endpoints"},{"name":"Cookies","description":"Cookie import/export endpoints"},{"name":"Local Storage","description":"Local storage import/export endpoints"},{"name":"Team Users (API v1)","description":"Team member management endpoints. Only create and delete endpoints are in API v1, if you need to read or update team members, look for endpoints in API v2."},{"name":"Team Users (API v2)","description":"Team member management endpoints. Only read and delete endpoints are in API v2, if you need to create or delete team members, look for endpoints in API v1."},{"name":"Authentication","description":"Authorization endpoints for storing and managing the remote JWT token inside the Local API."},{"name":"Profile Start/Stop","description":"Endpoints that launch or stop a local Anty browser instance bound to an existing Browser profile.\n\n**Typical automation workflow**\n\n1. **Start a profile** via `POST /browser_profiles/{browserProfileId}/start` (or `GET .../start?automation=1`). When `automation = true` the response returns the DevTools **port** and **wsEndpoint**.\n\n2. **Connect** to the running browser through that DevTools endpoint using Puppeteer, Playwright, Selenium or any other CDP-capable tool.\n\n3. Once your script finishes, **stop** the profile with `GET /browser_profiles/{browserProfileId}/stop` to sync the data directory back to the cloud.\n\nRemember: the Local API is available only on the same machine where Dolphin{anty} is running and listens on port 3001 by default. \n"}],"paths":{"/proxy":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Proxies"],"summary":"List proxies","operationId":"listProxies","parameters":[{"name":"limit","in":"query","description":"Number of items per page (max 100).","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Filter proxies by name or host prefix.","schema":{"type":"string"}},{"name":"sortBy","in":"query","description":"Field to sort by.","schema":{"type":"string","enum":["name","status","type","host","browser_profiles_count","created_at","updated_at"]}},{"name":"order","in":"query","description":"Sort direction.","schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"ids","in":"query","description":"Restrict list to the provided ids.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}}],"responses":{"200":{"description":"Paginated list of proxies.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/proxy_list"}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."}}},"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Proxies"],"summary":"Create a proxy","operationId":"createProxy","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/proxy_create"}}}},"responses":{"200":{"description":"Newly created proxy.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/proxy"}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/proxy/{id}":{"patch":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Proxies"],"summary":"Update a proxy","operationId":"updateProxy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Proxy identifier."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/proxy_update"}}}},"responses":{"200":{"description":"Updated proxy data.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/proxy"}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Proxies"],"summary":"Delete a proxy","operationId":"deleteProxy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Proxy identifier."}],"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request."},"401":{"description":"Unauthorized."}}}},"/browser_profiles/statuses":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profile Statuses"],"summary":"List browser profile statuses","operationId":"listBrowserProfileStatuses","parameters":[{"name":"limit","in":"query","description":"Number of items per page (max 50).","schema":{"type":"integer","minimum":1,"maximum":50}},{"name":"query","in":"query","description":"Filter statuses by name prefix.","schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated list of browser profile statuses.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_status_list"}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."}}},"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profile Statuses"],"summary":"Create a browser profile status","operationId":"createBrowserProfileStatus","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_status_create"}}}},"responses":{"200":{"description":"Newly created status.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/browser_profile_status"}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profile Statuses"],"summary":"Bulk delete browser profile statuses","operationId":"bulkDeleteBrowserProfileStatuses","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_status_bulk_delete"}}}},"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/browser_profiles/statuses/{id}":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profile Statuses"],"summary":"Get a browser profile status","operationId":"getBrowserProfileStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Status identifier."}],"responses":{"200":{"description":"Browser profile status data.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/browser_profile_status"}}}}}},"401":{"description":"Unauthorized."},"404":{"description":"Status not found."}}},"patch":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profile Statuses"],"summary":"Update a browser profile status","operationId":"updateBrowserProfileStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Status identifier."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_status_update"}}}},"responses":{"200":{"description":"Updated status data.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/browser_profile_status"}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profile Statuses"],"summary":"Delete a browser profile status","operationId":"deleteBrowserProfileStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Status identifier."}],"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request."},"401":{"description":"Unauthorized."}}}},"/browser_profiles/statuses/bulk":{"put":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profile Statuses"],"summary":"Bulk change Browser profiles statuses","operationId":"bulkChangeBrowserProfileStatuses","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_status_bulk_change"},"examples":{"change_to_existing":{"summary":"Reference an existing status","value":{"ids":[1,2,3],"status":{"id":42}}},"create_new_status":{"summary":"Create a brand-new status and apply it","value":{"ids":[4,5],"status":{"name":"In progress","color":"green"}}}}}}},"responses":{"200":{"description":"Change operation result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/extensions":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Extensions"],"summary":"List extensions","operationId":"listExtensions","parameters":[{"name":"limit","in":"query","description":"Number of items per page (max 100).","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Filter extensions by name prefix.","schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated list of extensions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/extension_list"}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."}}},"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Extensions"],"summary":"Add extension from Chrome Web Store link","operationId":"createExtensionFromLink","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/extension_create"}}}},"responses":{"200":{"description":"Newly added extension.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/extension"}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Extensions"],"summary":"Delete extensions","operationId":"deleteExtensions","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/extension_bulk_delete"}}}},"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request."},"401":{"description":"Unauthorized."}}}},"/extensions/upload-zipped":{"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Extensions"],"summary":"Upload extension from ZIP archive","operationId":"uploadExtensionFromZip","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/extension_upload"}}}},"responses":{"200":{"description":"Upload successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/folders":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"List folders","operationId":"listFolders","parameters":[{"name":"query","in":"query","description":"Filter folders by name prefix.","schema":{"type":"string"}}],"responses":{"200":{"description":"List of folders.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/folder_list"}}}},"401":{"description":"Unauthorized."}}},"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"Create a folder","operationId":"createFolder","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/folder_create"}}}},"responses":{"200":{"description":"Newly created folder identifier.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer","description":"Identifier of the newly created folder."}}}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/folders/{id}":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"Get a folder","operationId":"getFolder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Folder identifier."}],"responses":{"200":{"description":"Folder data.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/folder"}}}}}},"401":{"description":"Unauthorized."},"404":{"description":"Folder not found."}}},"patch":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"Update a folder","operationId":"updateFolder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Folder identifier."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/folder_update"}}}},"responses":{"200":{"description":"Updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"Delete a folder","operationId":"deleteFolder","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Folder identifier."},{"name":"withProfiles","in":"query","description":"If `true`, Browser profiles contained in the folder will also be deleted (subject to access permissions).","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request."},"401":{"description":"Unauthorized."}}}},"/folders/order":{"put":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"Update folders display order","operationId":"updateFolderOrder","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/folder_order_update"}}}},"responses":{"200":{"description":"Order updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/folders/mass/attach-profiles":{"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"Attach Browser profiles to a folder","operationId":"attachProfilesToFolder","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/folder_attach_profiles"}}}},"responses":{"200":{"description":"Profiles attached.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/folders/mass/detach-profiles":{"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"Detach Browser profiles from folders","operationId":"detachProfilesFromFolder","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/folder_detach_profiles"}}}},"responses":{"200":{"description":"Profiles detached.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/folders/{id}/profile-ids":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Folders"],"summary":"Get Browser profile identifiers for a folder","operationId":"getFolderProfileIds","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Folder identifier."}],"responses":{"200":{"description":"Array of profile identifiers and password flag.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/folder_profile_ids"}}}}}},"401":{"description":"Unauthorized."},"404":{"description":"Folder not found."}}}},"/browser_profiles":{"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Create a browser profile","operationId":"createBrowserProfile","description":"## Important note\n\nEach browser profile **must** include a complete and internally coherent\nfingerprint. The backend does **not** auto-generate this data – if you omit\nfingerprint fields the request will be rejected with a validation\nerror.\n\nThe safest way to satisfy this requirement is to build the fingerprint\nentirely from data returned by the `/fingerprints/*` helper endpoints (see\nbelow). When you do so all nested values – WebGL hashes, connection metrics,\nhardware specs – originate from real devices and therefore match each other\nlogically, drastically reducing the probability of being flagged by\nanti-fraud systems.\n\n## Fingerprint workflow (recommended)\n\n1. **Decide on the target platform and Chrome version** you want the profile\n   to mimic. Remember that the **major** Chrome version (e.g. `115`) is\n   enough – minor/build numbers are supplied automatically by the dataset.\n\n2. **Fetch the core fingerprint**: `GET /fingerprint?platform=<windows|macos|linux>&browser_type=anty&browser_version=<INT>`. The call returns a JSON object with dozens of nested blocks (`webrtc`, `canvas`, `screen`, …). Copy it **verbatim** into the `fingerprint` property of the request body.\n\n3. *(Optional)* **Rotate the User-Agent** while keeping it consistent with\n   the previous step: `GET /useragent?platform=<platform>&browser_version=<INT>`. Assign the returned string to the **top-level** `useragent.value` field or override the flattened `uaFullVersion` / `useragent` block if you want full manual control.\n\n4. *(Optional)* **Choose a specific GPU adapter** `GET /webgl-list?platform=<platform>&withMaximum=true&browser_version=<INT>`. Find the vendor/renderer pair you like and replace the original `webglInfo` / `webgl2Maximum` fields inside the fingerprint. Always copy the pair **together** so that WebGL1 & WebGL2 data stay in sync.\n\n5. *(Optional)* **Fetch realistic font families** for the chosen OS: `GET /font-list?platform=<platform>`. Use the array as-is for the `fonts` field (remember to also set `fontsMode` to `manual`) or filter it to your needs.\n\n6. **Populate the required top-level fields** listed below (`name`,\n   `platform`, `browserType`, `platformVersion`).\n\n7. *(Optional)* Fill in additional properties such as `proxy`, `statusId`,\n   tags, notes, etc. – see the complete field reference afterwards.\n\n8. **POST /browser_profiles** with the assembled JSON. A successful response\n   contains `browserProfileId` that you can store for future operations.\n\n## Request body fingerprints parameters reference\n\n### Fingerprint container\n\n- `fingerprint` *(object)* – The **entire** object returned by\n  `GET /fingerprint`. Contains nested blocks for UA, WebGL, canvas, fonts,\n  hardware metrics, etc. The backend automatically flattens derived fields\n  so you usually don’t need to copy them yourself.\n\n### Low-level flattened fields\n\n- `uaFullVersion`, `platformName`, `platformVersion`, `cpuArchitecture`, `osVersion`,\n  `screenWidth`, `screenHeight`, `vendorSub`, `productSub`, `vendor`,\n  `product`, `appCodeName`, `doNotTrack` – Take it from the fingerprint object if you do not understand what to put here. Wrong value here will likely trigger EVERY anti-fraud system.\n- `connectionDownlink` *(number|null)* – Reported downlink speed in Mbps.\n- `connectionEffectiveType` *(string|null)* – Reported connection type\n  (`4g`, `3g`, …).\n- `connectionRtt` *(number|null)* – Reported round-trip time in ms.\n- `connectionSaveData` *(0|1|null)* – Whether the connection claims to\n  be in data-saving mode (0 = off, 1 = on).\n\n## Tips\n- You can add the proxy to the profile when creating browser profile body:\n    - providing the proxy id in the `proxy` property,\n    - or you can create a new proxy and attach to the profile when if you provide the proxy host, port and other parameters in the `proxy` property.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_create"}}}},"responses":{"200":{"description":"Newly created profile identifier.","content":{"application/json":{"schema":{"type":"object","required":["success","browserProfileId","data"],"properties":{"success":{"type":"boolean","example":true},"browserProfileId":{"type":"integer","description":"Identifier of the new Browser profile.","example":12345},"data":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"Same identifier echoed for convenience.","example":12345}}}}}}}},"400":{"description":"Invalid request payload (validation error, exceeded limits, etc.)."},"401":{"description":"Unauthorized."}}},"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"List browser profiles","operationId":"listBrowserProfiles","parameters":[{"name":"limit","in":"query","description":"Number of items per page (max 100).","schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"page","in":"query","description":"Page number to return (1-based). When omitted the first page is returned.","schema":{"type":"integer","minimum":1}},{"name":"query","in":"query","description":"Full-text search string. Matches against profile name, proxy host, and other key fields.","schema":{"type":"string"}},{"name":"noteQuery","in":"query","description":"Performs a full-text search **only inside profile notes**.","schema":{"type":"string"}},{"name":"tags","in":"query","description":"Filter by one or more tag names (comma-separated).","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"statuses","in":"query","description":"Filter by one or more status identifiers (comma-separated).","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"mainWebsites","in":"query","description":"Filter by main website value (comma-separated list).","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"proxies","in":"query","description":"Restrict the list to profiles that use the given proxy identifiers.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"users","in":"query","description":"Restrict the list to profiles created by the specified user identifiers.","style":"form","explode":false,"schema":{"type":"array","items":{"type":"integer"}}},{"name":"folders","in":"query","description":"Restrict the list to profiles located in the given folder identifiers (max 100).","style":"form","explode":false,"schema":{"type":"array","maxItems":100,"items":{"type":"integer"}}},{"name":"sortBy","in":"query","description":"Field to sort by.","schema":{"type":"string","enum":["name","proxyId","concat_tags","totalSessionDuration","status","timer","created_at","updated_at","launched","idProfile"]}},{"name":"order","in":"query","description":"Sort direction.","schema":{"type":"string","enum":["ASC","DESC"]}}],"responses":{"200":{"description":"Paginated list of browser profiles.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_list"}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Bulk delete Browser profiles","description":"Delete multiple Browser profiles at once.\nThe behaviour regarding the *Basket* (temporary recycle bin) is the same as for single-profile deletion:\n- On paid plans the profiles are *soft-deleted* – they go to the Basket for\n  48 hours and can be restored during that window.\n- On Free / Free+ plans there is **no** Basket, therefore the caller must pass\n  `forceDelete: true` if it really intends to erase the profiles.\n- Supplying `forceDelete: true` on paid plans skips the Basket and permanently\n  removes the profiles immediately.\n\nSee the detailed explanation here: https://help.dolphin-anty.com/en/articles/7898943-deleting-and-restoring-profiles-in-dolphin-anty\n","operationId":"bulkDeleteBrowserProfiles","requestBody":{"required":true,"description":"By default (on paid plans) profiles are *soft-deleted* – they are moved to\nthe **Basket** and can be restored within 48 hours. Use `forceDelete: true`\nto skip the Basket. Free / Free+ plans do not have a Basket and must always\npass `forceDelete: true`.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_bulk_delete"},"examples":{"delete_multiple":{"summary":"Soft-delete several profiles","value":{"ids":[1,2,3]}},"force_delete_free_plan":{"summary":"Permanently remove profiles on a free plan","value":{"ids":[10,11],"forceDelete":true}},"single_with_password":{"summary":"Delete single password-protected profile","value":{"ids":[42],"password":"myStrongPassword"}}}}}},"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied or confirmation required."},"404":{"description":"Some Browser profile identifiers not found."}}}},"/browser_profiles/mass":{"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Bulk create Browser profiles","operationId":"massCreateBrowserProfiles","description":"Creates multiple Browser profiles in one request.\n\n### How it works\n\n1. Supply an `items` array with the full payload of each profile (exactly the same structure that you would send to **Create a browser profile** endpoint).\n\n2. Optionally provide a `common` object that contains field values shared by\n   every profile &ndash; the backend merges this object into each element of\n   `items` before validation. If the same key is present both inside\n   `common` and an individual item, the **item wins**.\n\nThe endpoint is ideal when you need to import dozens of pre-generated\nfingerprints or run a migration script and want to minimise round-trips.\n\n### Limits\n\nThe maximum number of items that can be sent in one call may vary. Currently,\nit is 100.\n\n### Notes\n\n- The backend validates each profile independently. A profile that fails\n  validation does **not** stop the whole batch &ndash; it is reported inside\n  the `failed`/`errors` arrays, while other valid profiles are still created.\n\n### Simplified payload examples (illustrative only)\n\nThe following two examples are shown as request examples. They\nare kept here for illustration of the `items` / `common` structure, but they\nare intentionally simplified and will likely produce incomplete profiles that\nfail to launch.\nImportant: For bulk creation the backend applies only top-level fields of\neach item. Do not nest fingerprint blocks under `fingerprint`. Instead,\nprovide the relevant fingerprint-derived fields directly at the root of each\nitem (e.g. `useragent`, `uaFullVersion`, `cpu`, `memory`, `screenWidth`,\n`screenHeight`, `connectionDownlink`, `connectionRtt`, `connectionEffectiveType`,\n`connectionSaveData`, `vendor`, `product`, `vendorSub`, `productSub`,\n`appCodeName`, `doNotTrack`, `webglInfo`, `webgl2Maximum`, etc.).\n\nBasic batch without `common`:\n\n```json\n{\n  \"items\": [\n    { \"name\": \"Profile A\", \"platform\": \"windows\", \"platformVersion\": \"10\", \"browserType\": \"anty\" },\n    { \"name\": \"Profile B\", \"platform\": \"windows\", \"platformVersion\": \"10\", \"browserType\": \"anty\" }\n  ]\n}\n```\n\nAttach settings via the `common` object:\n\n```json\n{\n  \"common\": {\n    \"proxy\": { \"id\": 42 },\n    \"useragent\": {\n      \"mode\": \"manual\",\n      \"value\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36\"\n    }\n  },\n  \"items\": [\n    { \"name\": \"Profile with shared proxy 1\", \"platform\": \"macos\", \"platformVersion\": \"13.6\", \"browserType\": \"anty\" },\n    { \"name\": \"Profile with shared proxy 2\", \"platform\": \"macos\", \"platformVersion\": \"14.4\", \"browserType\": \"anty\" }\n  ]\n}\n```\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_mass_create"},"examples":{"working_minimal":{"summary":"Batch without `common` (Windows/Chrome)","value":{"items":[{"name":"Win Chrome 113 - A","platform":"windows","platformVersion":"10","browserType":"anty","useragent":{"mode":"manual","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36"},"uaFullVersion":"113.0.5672.63","cpu":{"mode":"manual","value":4},"memory":{"mode":"manual","value":8},"screen":{"mode":"real"},"webrtc":{"mode":"real"},"canvas":{"mode":"real"},"webgl":{"mode":"real"},"timezone":{"mode":"manual","value":"Europe/Paris"},"clientRect":{"mode":"auto"},"geolocation":{"mode":"manual","latitude":48.8566,"longitude":2.3522},"locale":{"mode":"manual","value":"fr-FR"},"ports":{"mode":"protect","blacklist":"3389,5900,5800,7070,6568,5938"},"platformName":"Windows 10","cpuArchitecture":"x86_64","osVersion":"10.0.19045","screenWidth":1920,"screenHeight":1080,"connectionDownlink":9.9,"connectionRtt":50,"connectionEffectiveType":"4g","connectionSaveData":0,"vendorSub":"","productSub":"20030107","vendor":"Google Inc.","product":"Gecko","appCodeName":"Mozilla","doNotTrack":false,"webglInfo":{"mode":"manual","vendor":"NVIDIA Corporation","renderer":"NVIDIA GeForce GTX 1050 Ti/PCIe/SSE2"}},{"name":"Win Chrome 113 - B","platform":"windows","platformVersion":"10","browserType":"anty","useragent":{"mode":"manual","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36"},"uaFullVersion":"113.0.5672.63","cpu":{"mode":"manual","value":8},"memory":{"mode":"manual","value":16},"screen":{"mode":"real"},"webrtc":{"mode":"real"},"canvas":{"mode":"real"},"webgl":{"mode":"real"},"timezone":{"mode":"manual","value":"America/New_York"},"clientRect":{"mode":"auto"},"geolocation":{"mode":"manual","latitude":40.7128,"longitude":-74.006},"locale":{"mode":"manual","value":"en-US"},"ports":{"mode":"protect","blacklist":"3389,5900,5800,7070,6568,5938"},"platformName":"Windows 10","cpuArchitecture":"x86_64","osVersion":"10.0.19045","screenWidth":1366,"screenHeight":768,"connectionDownlink":7.2,"connectionRtt":70,"connectionEffectiveType":"4g","connectionSaveData":0,"vendorSub":"","productSub":"20030107","vendor":"Google Inc.","product":"Gecko","appCodeName":"Mozilla","doNotTrack":false,"webglInfo":{"mode":"manual","vendor":"Intel Inc.","renderer":"Intel(R) UHD Graphics 630"}}]}},"working_with_common":{"summary":"Batch using `common` for proxy and UA (macOS/Chrome)","value":{"common":{"proxy":{"id":42},"useragent":{"mode":"manual","value":"Mozilla/5.0 (Macintosh; Intel Mac OS X 14_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"}},"items":[{"name":"Mac Chrome 123 - A","platform":"macos","platformVersion":"14.4","browserType":"anty","uaFullVersion":"123.0.6312.86","cpu":{"mode":"manual","value":8},"memory":{"mode":"manual","value":8},"screen":{"mode":"real"},"webrtc":{"mode":"real"},"canvas":{"mode":"real"},"webgl":{"mode":"real"},"timezone":{"mode":"manual","value":"Europe/Berlin"},"clientRect":{"mode":"auto"},"geolocation":{"mode":"manual","latitude":52.52,"longitude":13.405},"locale":{"mode":"manual","value":"de-DE"},"ports":{"mode":"protect","blacklist":"3389,5900,5800,7070,6568,5938"},"platformName":"macOS","cpuArchitecture":"x86_64","osVersion":"14.4","screenWidth":2560,"screenHeight":1440,"connectionDownlink":10.5,"connectionRtt":40,"connectionEffectiveType":"4g","connectionSaveData":0,"vendorSub":"","productSub":"20030107","vendor":"Google Inc.","product":"Gecko","appCodeName":"Mozilla","doNotTrack":false,"webglInfo":{"mode":"manual","vendor":"Apple Inc.","renderer":"AMD Radeon Pro 5500M OpenGL Engine"}},{"name":"Mac Chrome 123 - B","platform":"macos","platformVersion":"13.6","browserType":"anty","uaFullVersion":"123.0.6312.86","cpu":{"mode":"manual","value":4},"memory":{"mode":"manual","value":8},"screen":{"mode":"real"},"webrtc":{"mode":"real"},"canvas":{"mode":"real"},"webgl":{"mode":"real"},"timezone":{"mode":"manual","value":"America/Los_Angeles"},"clientRect":{"mode":"auto"},"geolocation":{"mode":"manual","latitude":34.0522,"longitude":-118.2437},"locale":{"mode":"manual","value":"en-US"},"ports":{"mode":"protect","blacklist":"3389,5900,5800,7070,6568,5938"},"platformName":"macOS","cpuArchitecture":"x86_64","osVersion":"13.6","screenWidth":1680,"screenHeight":1050,"connectionDownlink":8,"connectionRtt":55,"connectionEffectiveType":"4g","connectionSaveData":0,"vendorSub":"","productSub":"20030107","vendor":"Google Inc.","product":"Gecko","appCodeName":"Mozilla","doNotTrack":false,"webglInfo":{"mode":"manual","vendor":"Apple Inc.","renderer":"Intel(R) Iris(TM) Plus Graphics 640"}}]}}}}}},"responses":{"200":{"description":"Result of the bulk-create operation.","content":{"application/json":{"schema":{"type":"object","required":["success","ids","failed","errors"],"properties":{"success":{"type":"boolean","description":"`true` when **all** profiles were created successfully."},"ids":{"type":"array","description":"Identifiers of the successfully created profiles.","items":{"type":"integer","format":"int64"}},"failed":{"type":"array","description":"Echo of the payloads that failed validation/creation.","items":{"type":"object"}},"errors":{"type":"array","description":"Error descriptors corresponding to each failed item.","items":{"type":"object"}}}},"examples":{"partial_failure":{"summary":"Some profiles failed validation","value":{"success":false,"ids":[101,102],"failed":[{"name":"bad profile"}],"errors":[{"type":"E_LIMIT","code":"E_LIMIT_PROFILES","text":"You have reached browser profiles limit"}]}}}}}},"400":{"description":"Invalid request payload (e.g. malformed JSON, wrong field types)."},"401":{"description":"Unauthorized."}}}},"/browser_profiles/transfer":{"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Transfer Browser profiles to another user","operationId":"transferBrowserProfiles","description":"Initiates transfer of one or more Browser profiles to another Dolphin{anty} user.\n\nThe receiver is specified via e-mail and may belong to the same team/workspace or to a different one. When the receiver belongs to a different team the profiles are physically moved (their `teamId` changes), otherwise only the ownership is reassigned.\n### Important note\nYou will completely lose access to the profiles after the transfer. This is like _move_ operation, not _copy_. If you want to _share_ the profiles with another user, use the **Share Browser profiles** endpoint instead.\n### Business rules & restrictions\n1. The sender must have an **active paid subscription** (feature is unavailable on Free / Trial plans).\n2. The subscription of the sender team must be active – expired subscriptions\n   cannot initiate transfers (HTTP 402 is returned).\n\n3. The caller must either **own** the profile(s) or have the `share` permission for each of them; otherwise the request is rejected with HTTP 403.\n4. The receiver team must have enough free profile quota; otherwise the request is rejected with HTTP 422 (`E_SUBSCRIPTION_LIMITS_OTHER_TEAM`).\n5. Use the optional `withProxy` flag when you also want to move proxies attached to the profiles.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_transfer"},"examples":{"transfer_to_teammate":{"summary":"Move two profiles to a teammate within the same workspace","value":{"ids":[101,102],"username":"alice@example.com"}},"transfer_to_other_team":{"summary":"Transfer a single profile (together with its proxy) to a user in another team","value":{"ids":[555],"username":"bob@anotherteam.com","withProxy":true}}}}}},"responses":{"200":{"description":"Transfer queued successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"401":{"description":"Unauthorized."},"402":{"description":"Subscription inactive or feature unavailable on the current plan."},"403":{"description":"Access denied – the caller does not own or cannot share some of the requested profiles."},"422":{"description":"Receiver team exceeded its Browser profiles limit."}}}},"/browser_profiles/{id}":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Get browser profile","operationId":"getBrowserProfile","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the browser profile.","schema":{"type":"integer"}},{"name":"password","in":"query","required":false,"description":"If the profile is protected with a password, supply it here to obtain full profile details. The password **must** match the one set in the Dolphin{anty} desktop app otherwise an `E_BROWSER_PROFILE_ACCESS_DENIED` error is returned.\n","schema":{"type":"string","minLength":6,"maxLength":512}}],"responses":{"200":{"description":"Browser profile details.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/browser_profile_full"}},"required":["data"]}}}},"400":{"description":"Invalid request parameters or client version mismatch."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied (profile is protected or user lacks permission)."},"404":{"description":"Browser profile not found."}}},"patch":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Update a browser profile","operationId":"updateBrowserProfile","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the browser profile.","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_update"},"examples":{"rename_profile":{"summary":"Rename a browser profile","value":{"name":"My new profile name"}},"change_status":{"summary":"Change status and assign proxy","value":{"statusId":4,"proxy":{"id":123}}}}}}},"responses":{"200":{"description":"Updated browser profile data.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/browser_profile_full"}}}}}},"400":{"description":"Invalid request payload (validation error, exceeded limits, etc.)."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied (profile is protected or user lacks permission)."},"404":{"description":"Browser profile not found."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Delete a browser profile","description":"Parameters used when deleting (or permanently purging) a single Browser profile.\nBy **default** (for paid plans – Base, Team, Enterprise) a deleted profile is not removed immediately. Instead it is moved to a temporary storage area called the *Basket* (a 48-hour recycle bin). Within that time the profile can be restored via the \"Basket\" UI or the `POST /browser_profiles/basket/restore` API.\n- **Basket availability** – only paid plans have this feature; Free / Free+\n  plans do **not** have a Basket at all [[link](https://help.dolphin-anty.com/en/articles/7898943-deleting-and-restoring-profiles-in-dolphin-anty)].\n- **forceDelete flag** – set `forceDelete: true` to bypass the Basket and\n  permanently erase the profile. Free plans **must** supply this flag because\n  there is no Basket to store deleted profiles.\n\nProfiles that stay in the Basket for more than 48 hours are automatically and irrevocably purged by the backend.\n","operationId":"deleteBrowserProfile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"},"description":"Browser profile identifier."}],"requestBody":{"required":false,"description":"Deleting a profile normally moves it to the **Basket** (48-hour recycle bin)\nwhere it can be restored. Supply `forceDelete: true` to bypass the Basket\nand purge the profile immediately. Free / Free+ plans must always set\n`forceDelete: true` because the Basket feature is not available for them.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_delete"},"examples":{"permanent":{"summary":"Permanently delete a profile on a free plan","value":{"password":"myStrongPassword","forceDelete":true}},"soft_delete":{"summary":"Move profile to basket (paid plan default)","value":{}}}}}},"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied or confirmation required."},"404":{"description":"Browser profile not found."}}}},"/browser_profiles/access":{"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Share access to multiple browser profiles","operationId":"shareAccessToMultipleBrowserProfiles","description":"Grants (**or revokes**) permissions to one or more **existing** Dolphin{anty}\nusers for a batch of Browser profiles.\n\n* Use **`action: add`** to grant the listed permissions.\n* Use **`action: remove`** to revoke the same permissions.\n\nThe caller must own the profile **or** have the `share` permission for every\nprofile included in `ids`.\n\n### Business rules & restrictions\n\n1. A paid subscription is required to share profiles; Free / Trial plans\n   cannot initiate sharing.\n\n2. When `action` is `remove` the access row is deleted only when **all**\n   permission flags (`view`, `update`, `delete`, `share`, `usage`) are\n   supplied and set to `true`.\n   \n3. Administrators and Team Leads always receive *full* permissions regardless\n   of the flags passed – the backend automatically upgrades them.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_access_multi_edit"},"examples":{"grant_access":{"summary":"Grant view/update permissions for two users over three profiles","value":{"ids":[101,102,103],"users":[{"id":501,"view":true,"update":true},{"id":502,"view":true}],"action":"add"}},"revoke_access":{"summary":"Revoke all permissions from a user for a single profile","value":{"ids":[101],"users":[{"id":501,"view":true,"update":true,"delete":true,"share":true,"usage":true}],"action":"remove"}}}}}},"responses":{"200":{"description":"Permissions updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload (validation error, exceeded limits, wrong `action`, etc.)."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied – the caller does not own or cannot share some of the requested profiles."},"404":{"description":"One or more Browser profiles were not found."}}}},"/browser_profiles/{id}/access":{"patch":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Browser Profiles"],"summary":"Share access to browser profile","operationId":"shareAccessToBrowserProfile","parameters":[{"name":"id","in":"path","required":true,"description":"Identifier of the Browser profile.","schema":{"type":"integer","format":"int64"}}],"description":"Updates (grants or revokes) permissions for the specified Browser profile.\nCompared to the bulk variant this endpoint always operates on **one** profile\nand therefore omits the `ids` and `action` fields.\n\nThe caller must own the profile **or** have the `share` permission for it.\n\n### Additional behaviour\n\n* If the profile is protected by a password, the correct password must be\n  supplied via the `password` field; otherwise the request is rejected with\n  HTTP 403 (`E_BROWSER_PROFILE_WRONG_PASSWORD`).\n* Admins and Team Leads always receive full permissions regardless of the\n  flags passed.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_access_update"},"examples":{"grant_full_access":{"summary":"Give user","value":{"users":[{"userId":501,"view":true,"update":true,"delete":true,"share":true,"usage":true}]}},"revoke_usage_right":{"summary":"Revoke the ability to run a profile from user","value":{"users":[{"userId":502,"usage":false}],"password":"mySecurePassword"}}}}}},"responses":{"200":{"description":"Permissions updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload (validation error, exceeded limits, etc.)."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied – wrong password or the caller cannot share this profile."},"404":{"description":"Browser profile not found."}}}},"/useragent":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Fingerprints"],"summary":"Fetch a random user-agent string","operationId":"useragent","description":"Returns a **real-world user-agent string** that matches the requested\nplatform and Chrome version.\nThe value comes from Dolphin{anty}'s internal dataset collected from\ngenuine devices so that it can be safely used for high-fidelity\nbrowser fingerprint spoofing.\n\n### Behaviour details\n\n1. The backend looks for `User-Agent` strings where the major Chrome\n   version (short version) and operating system match the supplied filters.\n\n2. Random value is selected from the matching records.\n\n3. When the `browser_version` parameter must be supplied.\n\n4. When **no matching records** are found the endpoint responds with HTTP\n   `404`.\n","parameters":[{"name":"platform","in":"query","description":"Target operating system the user-agent should imitate.  \n\nAccepted values correspond to `navigator.platform`.\n","required":true,"schema":{"type":"string","enum":["windows","macos","linux"]},"example":"windows"},{"name":"browser_version","in":"query","description":"Desired **major** Chrome version (e.g. `113`).  \n\nWhen omitted or set to a version newer than the current stable release\nthe backend falls back to its internally configured default.\n","required":true,"schema":{"type":"integer","format":"int32"},"example":113},{"name":"oldUseragent","in":"query","description":"Previously used user-agent string.  \n\nSupplying the value hints the backend to return a different UA so that\nconsecutive calls can rotate user-agents.\n\nFor backwards compatibility – it is optional and ignored when empty.\n\nRight now Desktop useragents use only one invariant per OS and version, so, e.g. for Chrome 113 on Windows 10, the useragent is the same as for Chrome 113 on Windows 11 on totally different PCs.\nSo you would not get new useragents for the same Chrome version on the same OS.\n","required":false,"schema":{"type":"string","maxLength":1024}}],"responses":{"200":{"description":"Successful response. Contains a single user-agent string.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"string","description":"The selected user-agent string.","example":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36"}}}}}},"400":{"description":"Invalid request parameters (validation failed)."},"401":{"description":"Unauthorized – JWT token missing or invalid."},"404":{"description":"No matching user-agents were found for the supplied filters."}}}},"/fingerprint":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Fingerprints"],"summary":"Fetch a random, production-quality browser fingerprint","operationId":"fingerprint","description":"Returns a **real-world browser fingerprint** randomly selected from the\nDolphin{anty} dataset.\n\nThe response is tailored for the requested platform & browser combination and\ncan be copied directly into the `fingerprint` field of the\n`POST /browser_profiles` request body. Doing so guarantees the generated\nprofile has a coherent, detection-resistant fingerprint.\n\n### Behaviour details\n\nValues are sampled from devices with realistic hardware specs. The query parameters act as **hard filters** – if no matching fingerprints are found the endpoint returns HTTP `200` with an empty JSON object.\n","parameters":[{"name":"platform","in":"query","description":"Target operating system that the fingerprint must imitate.\nAccepted values correspond to `navigator.platform` and *Dolphin{anty}* internal naming.\n","required":true,"schema":{"type":"string","enum":["windows","macos","linux","android"]},"example":"windows"},{"name":"browser_type","in":"query","description":"Desired browser family. Currently only `anty` is supported.\n","required":true,"schema":{"type":"string","enum":["anty"]}},{"name":"browser_version","in":"query","description":"Major (short) version of the browser. When omitted or greater than the\ncurrent stable Chrome version the backend falls back to its internal\ndefault (configured at deploy time).\n","required":false,"schema":{"type":"integer","format":"int32"},"example":138},{"name":"screen","in":"query","description":"Optional screen resolution filter expressed as `<width>x<height>` (e.g.\n`1920x1080`). Only fingerprints whose screen size is **less than or\nequal** to the requested resolution are considered for selection.\n","required":false,"schema":{"type":"string","pattern":"^[0-9]{3,5}x[0-9]{3,5}$"},"example":"1920x1080"}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/fingerprint"}]}}}},"400":{"description":"Invalid request parameters (validation failed)."},"401":{"description":"Unauthorized – JWT token missing or invalid."},"404":{"description":"No matching fingerprints were found for the supplied filters."}}}},"/webgl-list":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Fingerprints"],"summary":"List available WebGL vendor/renderer combinations","operationId":"webglList","description":"Returns the **list of GPU vendors and their WebGL renderer strings** that can\nbe used to construct realistic WebGL fingerprints for a given platform.\n\nThe endpoint draws from Dolphin{anty}'s internal dataset captured from\nreal devices. Depending on the request parameters it returns either:\n\n* **Vendor → array of renderers** (default) – only the raw strings required to spoof `WEBGL_debug_renderer_info` values.\n\n* **Vendor → renderer → object** (when `withMaximum` is set to `true`) – enriched payload that also includes the `webgl2Maximum` limits exported from the *WebGL2* API for each adapter.\n\n### Behaviour details\n\n1. Records are filtered by `platform` first.\n\n2. When `withMaximum=true` records without `webgl2Maximum` are excluded.\n\n3. When `browser_version` is supplied and **greater than 113** _and_ `platform` is not `linux` the backend further ensures that the record  contains WebGPU data (adapter must support the WebGPU API in Chrome ≥ 114). Although the field is not returned in the response, this guarantees compatibility with future fingerprint tweaks.\n","parameters":[{"name":"platform","in":"query","description":"Operating system for which the GPU list should be returned.\nAccepted values match `navigator.platform`.\n","required":true,"schema":{"type":"string","enum":["windows","macos","linux"]},"example":"windows"},{"name":"withMaximum","in":"query","description":"When `true` the response contains **detailed WebGL2 limits** (`webgl2Maximum`)\nfor each renderer instead of plain strings.\n","required":false,"schema":{"type":"boolean","default":false},"example":false},{"name":"browser_version","in":"query","description":"Major Chrome version you plan to use the fingerprint with.  \nRequired only when you need GPU lists compatible with **WebGPU**\n(Chrome ≥ 114 on non-Linux platforms). When omitted no extra filtering\nis applied.\n\nWe're highly recommending to use the latest Chrome version, because we're updating the list of WebGL vendors and renderers often.\n","required":false,"schema":{"type":"integer","format":"int32"},"example":115}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"oneOf":[{"type":"object","description":"Vendor → array of renderer strings (default format).","additionalProperties":{"type":"array","items":{"type":"string","example":"ANGLE (NVIDIA, NVIDIA GeForce RTX 3060 Ti, OpenGL 4.1)"}}},{"type":"object","description":"Vendor → renderer → detailed object (when `withMaximum=true`).","additionalProperties":{"type":"object","description":"Mapping of `webglUnmaskedRenderer` → metrics object.","additionalProperties":{"type":"object","required":["webgl2Maximum"],"properties":{"webgl2Maximum":{"$ref":"#/components/schemas/webgl2Maximum"}}}}}]}}}},"400":{"description":"Invalid request parameters (validation failed)."},"401":{"description":"Unauthorized – JWT token missing or invalid."}}}},"/font-list":{"get":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Fingerprints"],"summary":"List available fonts for a platform","operationId":"fontList","description":"Returns the **complete list of font families** known to exist on real\ndevices running the requested platform.\n\nThe values come from Dolphin{anty}'s internal dataset and can be safely\nused when constructing the `fonts` block of a browser fingerprint. Using\nrealistic fonts helps to avoid inconsistencies that anti-fraud systems may\ndetect.\n\n### Behaviour details\n\n1. The dataset is filtered strictly by `platform`. Only matching records are returned.\n\n2. The endpoint is **not paginated** – all matching fonts are returned in a single response.\n\n3. If no fonts are found the backend responds with HTTP `200` and an empty JSON array.\n","parameters":[{"name":"platform","in":"query","description":"Target operating system that the fonts must correspond to.\n","required":true,"schema":{"type":"string","enum":["windows","macos","linux"]},"example":"windows"}],"responses":{"200":{"description":"Successful response. Array of font records.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/font"}}}}},"400":{"description":"Invalid request parameters (validation failed)."},"401":{"description":"Unauthorized – JWT token missing or invalid."}}}},"/homepages":{"get":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"APIv2"}],"tags":["Homepages"],"summary":"List homepages","operationId":"listHomepages","parameters":[{"name":"limit","in":"query","description":"Number of items per page (max 100).","schema":{"type":"integer","minimum":10,"maximum":100}},{"name":"page","in":"query","description":"Page number to return (1-based).","schema":{"type":"integer","minimum":1}},{"name":"query","in":"query","description":"Full-text search string matching the homepage name or URL.","schema":{"type":"string"}},{"name":"mainWebsites","in":"query","description":"Filter by one or more main website categories (comma-separated).","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["all","none","facebook","google","vk","tiktok","crypto"]}}},{"name":"sort.key","in":"query","description":"Attribute to sort by.","schema":{"type":"string","enum":["name"]}},{"name":"sort.value","in":"query","description":"Sort direction.","schema":{"type":"string","enum":["asc","desc","ASC","DESC"]}}],"responses":{"200":{"description":"Paginated list of homepages.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/homepage_list"}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."}}},"post":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"APIv2"}],"tags":["Homepages"],"summary":"Create a homepage","operationId":"createHomepage","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/homepage_create"}}}},"responses":{"200":{"description":"Newly created homepage identifier.","content":{"application/json":{"schema":{"type":"object","required":["success","homepageId","data"],"properties":{"success":{"type":"boolean"},"homepageId":{"type":"integer","description":"Identifier of the newly created homepage."},"data":{"type":"object","required":["id"],"properties":{"id":{"type":"integer"}}}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"APIv2"}],"tags":["Homepages"],"summary":"Bulk delete homepages","operationId":"bulkDeleteHomepages","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/homepage_bulk_delete"}}}},"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/homepages/{id}":{"patch":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"APIv2"}],"tags":["Homepages"],"summary":"Update a homepage","operationId":"updateHomepage","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the homepage.","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/homepage_update"}}}},"responses":{"200":{"description":"Updated homepage data.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/homepage"}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied (insufficient permissions)."},"404":{"description":"Homepage not found."}}}},"/bookmarks":{"get":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"APIv2"}],"tags":["Bookmarks"],"summary":"List bookmarks","operationId":"listBookmarks","parameters":[{"name":"limit","in":"query","description":"Number of items per page (max 100).","schema":{"type":"integer","minimum":10,"maximum":100}},{"name":"page","in":"query","description":"Page number to return (1-based).","schema":{"type":"integer","minimum":1}},{"name":"query","in":"query","description":"Full-text search string matching the bookmark name or URL.","schema":{"type":"string"}},{"name":"mainWebsites","in":"query","description":"Filter by one or more main website categories (comma-separated).","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["all","none","facebook","google","vk","tiktok","crypto"]}}},{"name":"sort.key","in":"query","description":"Attribute to sort by.","schema":{"type":"string","enum":["name"]}},{"name":"sort.value","in":"query","description":"Sort direction.","schema":{"type":"string","enum":["asc","desc","ASC","DESC"]}}],"responses":{"200":{"description":"Paginated list of bookmarks.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/bookmark_list"}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."}}},"post":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"APIv2"}],"tags":["Bookmarks"],"summary":"Create a bookmark","operationId":"createBookmark","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bookmark_create"}}}},"responses":{"200":{"description":"Newly created bookmark identifier.","content":{"application/json":{"schema":{"type":"object","required":["success","bookmarkId","data"],"properties":{"success":{"type":"boolean"},"bookmarkId":{"type":"integer","description":"Identifier of the newly created bookmark."},"data":{"type":"object","required":["id"],"properties":{"id":{"type":"integer"}}}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"APIv2"}],"tags":["Bookmarks"],"summary":"Bulk delete bookmarks","operationId":"bulkDeleteBookmarks","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bookmark_bulk_delete"}}}},"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."}}}},"/bookmarks/{id}":{"patch":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"APIv2"}],"tags":["Bookmarks"],"summary":"Update a bookmark","operationId":"updateBookmark","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the bookmark.","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/bookmark_update"}}}},"responses":{"200":{"description":"Updated bookmark data.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/bookmark"}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied (insufficient permissions)."},"404":{"description":"Bookmark not found."}}}},"/team/users":{"get":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"API v2"}],"tags":["Team Users (API v2)"],"summary":"List team members","operationId":"listTeamUsers","parameters":[{"name":"limit","in":"query","description":"Number of items per page (max 100).","schema":{"type":"integer","minimum":10,"maximum":100}},{"name":"page","in":"query","description":"Page number to return (1-based).","schema":{"type":"integer","minimum":1}},{"name":"query","in":"query","description":"Full-text search string matching the username or display name.","schema":{"type":"string"}},{"name":"sort.key","in":"query","description":"Attribute to sort by.","schema":{"type":"string","enum":["role"]}},{"name":"sort.value","in":"query","description":"Sort direction.","schema":{"type":"string","enum":["asc","desc","ASC","DESC"]}}],"responses":{"200":{"description":"Paginated list of team users.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/team_user_list"}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."}}},"post":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Team Users (API v1)"],"summary":"Create a team user","operationId":"createTeamUser","description":"Adds a **new member** to the current team account. The caller **must** be an\n`admin` – team-leads and regular users are not allowed to invite other\nmembers.\n\nThe newly created user inherits the team subscription limits. You can fine-\ntune the ability to create browser profiles via the `canCreateBp`,\n`unlimitedBp` and `bpLimit` fields – see the schema below for details.\n\nWhen the user’s role is set to `user` you may optionally attach one or more\nsupervisors via the `teamleads` array.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/team_user_create"}}}},"responses":{"200":{"description":"Newly created user data.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/team_user"}}}}}},"400":{"description":"Invalid request payload (validation errors)."},"401":{"description":"Unauthorized."},"402":{"description":"Users quota exceeded for the current subscription plan."},"403":{"description":"Access denied (caller is not an admin)."},"409":{"description":"Username already exists."}}}},"/team/users/{userId}":{"patch":{"servers":[{"url":"https://dolphin-anty-api.com/api/v2","description":"API v2"}],"tags":["Team Users (API v2)"],"summary":"Update a team user","operationId":"updateTeamUser","parameters":[{"name":"userId","in":"path","required":true,"description":"Unique identifier of the user to update.","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/team_user_update"}}}},"responses":{"200":{"description":"Updated user data.","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/team_user"}}}}}},"400":{"description":"Invalid request payload."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied (insufficient permissions)."},"404":{"description":"User not found."}}},"delete":{"servers":[{"url":"https://dolphin-anty-api.com","description":"API v1"}],"tags":["Team Users (API v1)"],"summary":"Delete a team user","operationId":"deleteTeamUser","parameters":[{"name":"userId","in":"path","required":true,"description":"Identifier of the user to delete.","schema":{"type":"integer"}},{"name":"shouldTransferProfiles","in":"query","required":false,"description":"When `true` all browser profiles owned by the user are **transferred to\nthe team admin** instead of being archived. Defaults to `false`.\n","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Deletion result.","content":{"application/json":{"schema":{"type":"object","required":["success","transferredBrowserProfilesCount"],"properties":{"success":{"type":"boolean","description":"Indicates whether the operation was successful."},"transferredBrowserProfilesCount":{"type":"integer","description":"Number of browser profiles handed over to the admin."}}}}}},"400":{"description":"Invalid request."},"401":{"description":"Unauthorized."},"403":{"description":"Access denied (insufficient permissions)."},"404":{"description":"User not found."}}}},"/v1.0/local-storage/export":{"get":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Local Storage"],"summary":"Mass export Local Storage (multiple profiles)","operationId":"massExportLocalStorage","description":"Exports Local Storage for **multiple** browser profiles at once. The backend\ncreates one file per profile in the host machine’s *Downloads* directory\n(`~/Downloads` or `%USERPROFILE%\\Downloads` on Windows).  The response\nmerely indicates whether *all* export tasks were scheduled successfully – it\ndoes **not** return the exported data inline.\n","parameters":[{"name":"browserProfiles","in":"query","required":true,"description":"JSON-encoded array describing the profiles to export. Each element is an\nobject with the following structure:\n\n```json\n{\n  \"id\": 12345,                 // Browser profile identifier (required)\n  \"name\": \"My profile\",        // Human-readable name   (required)\n  \"transfer\": 0,               // Same meaning as in single-export\n  \"cloudSyncDisabled\": false   // Optional override\n}\n```\n\nRemember to `encodeURIComponent` the JSON when constructing the URL.\n","schema":{"type":"string"}},{"name":"plan","in":"query","required":false,"description":"Subscription plan of the caller.","schema":{"type":"string","enum":["free","free+","base","team","enterprise"]}}],"responses":{"200":{"description":"All exports were executed (files saved to Downloads folder).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"success":{"summary":"Successful export scheduling","value":{"success":true}}}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."},"500":{"description":"Internal server error."}}}},"/v1.0/local-storage/export/{browserProfileId}":{"get":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Local Storage"],"summary":"Export Local Storage (single profile)","operationId":"exportLocalStorage","description":"Exports the complete **chromium Local Storage** database (LevelDB) associated\nwith the specified browser profile.\n\nThe endpoint serialises the raw LevelDB into an easy-to-consume JSON array.\nEach element represents one origin (`domain`) and contains a key/value map\nencoded in Base-64.  \nThe format is exactly the same that must be supplied back to\n`POST /local-storage/import`.\n\n### GET vs POST\nBoth **GET** and **POST** variants are available for convenience:  \n• Use **GET** when you do **not** need to provide the profile password.  \n• Switch to **POST** when the profile is protected by the `requirePassword`\n  flag – the password is included in the JSON body.\n","parameters":[{"name":"browserProfileId","in":"path","required":true,"description":"Identifier of the browser profile to export.","schema":{"type":"integer","format":"int64"}},{"name":"transfer","in":"query","required":true,"description":"Indicates whether the profile is currently being **transferred** between\nteams. When `1`/`true` the backend uses a temporary storage bucket so\nthat the datadir is not merged back to the source team.\n","schema":{"oneOf":[{"type":"integer","enum":[0,1]},{"type":"boolean"}]},"example":0},{"name":"plan","in":"query","required":true,"description":"Subscription plan of the caller.","schema":{"type":"string","enum":["free","free+","base","team","enterprise"]},"example":"free"},{"name":"cloudSyncDisabled","in":"query","required":false,"description":"When `true` skips downloading the existing datadir from cloud storage and\ntherefore performs the export **only** from the local cache (if any).\nDefaults to `false`.\n","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Local Storage dump in a portable JSON format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/local_storage_export"}}}},"400":{"description":"Missing or invalid request parameters."},"401":{"description":"Unauthorized."},"500":{"description":"Internal server error."}}},"post":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Local Storage"],"summary":"Export Local Storage (single profile, password-protected)","operationId":"exportLocalStorageWithPassword","description":"Same as the **GET** variant but accepts parameters via JSON body so that you\ncan safely pass the **profile password** when the profile is protected by\n`requirePassword`.\n","parameters":[{"name":"browserProfileId","in":"path","required":true,"description":"Identifier of the browser profile to export.","schema":{"type":"integer","format":"int64"}},{"name":"cloudSyncDisabled","in":"query","required":false,"description":"When `true` skips cloud synchronisation and reads from the local cache only.","schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["transfer","plan"],"properties":{"transfer":{"oneOf":[{"type":"integer","enum":[0,1]},{"type":"boolean"}],"description":"Same meaning as in the GET variant.","example":0},"plan":{"type":"string","enum":["free","free+","base","team","enterprise"],"description":"Your current subscription plan.","example":"free"},"browserProfilePassword":{"type":["string","null"],"description":"Profile password when `requirePassword` is enabled.","example":"Hunter2"}}}}}},"responses":{"200":{"description":"Local Storage dump in a portable JSON format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/local_storage_export"}}}},"400":{"description":"Validation error."},"401":{"description":"Unauthorized."},"500":{"description":"Internal server error."}}}},"/v1.0/local-storage/import":{"post":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Local Storage"],"summary":"Import Local Storage","operationId":"importLocalStorage","description":"Imports previously exported LevelDB data into the specified browser profile.\nThe request body must match exactly the structure returned by the export\nendpoints.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/local_storage_import"}}}},"responses":{"200":{"description":"Data was successfully imported and synced.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"success":{"value":{"success":true}}}}}},"400":{"description":"Validation error (malformed JSON, missing fields, etc.)."},"401":{"description":"Unauthorized."},"422":{"description":"Invalid local storage payload."},"500":{"description":"Internal server error."}}}},"/v1.0/cookies/import":{"post":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Cookies"],"summary":"Import browser cookies","operationId":"importCookies","description":"Imports cookies into the specified browser profile. The backend merges the\nprovided cookies with those already present inside the profile’s *Cookies*\nSQLite database. Existing cookies with the same `domain`/`path`/`name`\ntriple are replaced.\n\n### Plan limitations\nThis endpoint is **available only on paid plans** (`base`, `team`, `enterprise`, etc.).\nCalls from the plain *Free* plan result in `402` responses. The *Free+* plan\n(Free with additional profiles add-on) **is allowed**.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cookies_import"}}}},"responses":{"200":{"description":"Cookies were successfully imported and datadir synced.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"success":{"value":{"success":true}}}}}},"400":{"description":"Validation error (missing required fields, malformed JSON, etc.)."},"401":{"description":"Unauthorized."},"422":{"description":"Invalid cookie payload."},"500":{"description":"Internal server error."}}}},"/v1.0/export-cookies":{"post":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Cookies"],"summary":"Export browser cookies","operationId":"exportCookies","description":"Exports cookies from one or more browser profiles. By default the backend\nsaves a `dolphin-anty-cookies-<Name>-<Id>.txt` file for each profile to the\nhost machine’s *Downloads* folder and returns the aggregated list of cookies\nin the response body.\n\n### Plan limitations\nThis endpoint is **available only on paid plans** (`base`, `team`, `enterprise`, etc.).\nCalls from the plain *Free* plan result in `402` responses. The *Free+* plan\n(Free with additional profiles add-on) **is allowed**.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cookies_export_input"}}}},"responses":{"200":{"description":"Cookies were successfully exported.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/cookies_export_response"},"examples":{"success":{"summary":"Successful export","value":{"success":true,"cookies":[{"domain":".example.com","name":"sid","value":"31d4d96e407aad42","path":"/","expirationDate":1717788735000,"secure":true,"sameSite":"lax"}]}}}}}},"400":{"description":"Invalid request parameters."},"401":{"description":"Unauthorized."},"402":{"description":"Plan restriction – export not allowed on Free plan."},"500":{"description":"Internal server error."}}}},"/v1.0/cookies/{browserProfileId}/robot":{"post":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Cookies"],"summary":"Run the cookie robot","operationId":"startCookieRobot","description":"Launches an automated **cookie robot** that opens each provided URL in a\nshort-lived, invisible Chromium page and saves **all** resulting cookies to\nthe specified browser profile.\n\nInternally the endpoint spins up a temporary Anty browser instance tied to\nthe profile and sequentially visits the URLs. \n\n### Plan limitations\nThis endpoint is **available only on paid plans** (`base`, `team`,\n`enterprise`, etc.). Requests from the plain *Free* plan return **HTTP 402**.\n","parameters":[{"name":"browserProfileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"Identifier of the browser profile that will receive the cookies."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cookie_robot_start"}}}},"responses":{"200":{"description":"Cookie robot was successfully started; progress is sent via Socket.IO.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"success":{"value":{"success":true}}}}}},"400":{"description":"Validation error (malformed payload, empty URL list, etc.)."},"401":{"description":"Unauthorized."},"402":{"description":"Plan restriction – cookie robot not available on Free plan."},"429":{"description":"Too many concurrent browser launches."},"500":{"description":"Internal server error or browser launch failure."}}}},"/v1.0/cookies/{browserProfileId}/robot-stop":{"get":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Cookies"],"summary":"Stop the running cookie robot","operationId":"stopCookieRobot","description":"Gracefully terminates the cookie robot associated with the specified browser\nprofile. If the robot is not running the request is a no-op.\n","parameters":[{"name":"browserProfileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"Identifier of the browser profile."}],"responses":{"200":{"description":"Robot was stopped (or was not running).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"success":{"value":{"success":true}}}}}},"401":{"description":"Unauthorized."},"500":{"description":"Internal server error."}}}},"/v1.0/browser_profiles/{browserProfileId}/stop":{"get":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Profile Start/Stop"],"summary":"Stop a Browser profile","operationId":"stopBrowserProfile","description":"Gracefully terminates a locally running Dolphin{anty} browser instance that is bound\nto the specified **Browser profile**.\n\nThe Local API attempts to shut down the Chromium-based Anty browser, upload the\nsynced data directory back to the cloud and mark the profile as _stopped_ in\nthe Remote API. Once the cleanup finishes the endpoint responds immediately –\nno further interaction with the running process is possible.\n\n## **[Basic automation help article](https://intercom.help/dolphinteam/en/articles/7127390-basic-automation-dolphin-anty#h_d1a7399430)** – This article greatly describes the overall automation process and may help you.\n\n### Important points\n\n- The Local API is active **only while Dolphin{anty} is running** and can be reached **exclusively from the same machine**.\n\n- Default listening port is **3001** – can be different when the port is occupied.\n\n- This endpoint always succeeds even if the browser has already exited, returning `success: true`.\n\nThe call never force-kills the process unless a graceful shutdown fails. In\nsuch a case the backend tries to kill the PID, uploads the last available\ndata snapshot and still reports `success: true` as long as the process is no\nlonger running.\n\n### Query parameters explained\n\n- `afterReAuth` – When **true** the request is performed right after the user\n  has re-authenticated in the desktop application. In this mode the Local API\n  skips cleaning the in-memory profile map because it is rebuilt during\n  re-authentication.\n- `retryToStop` – When **true** the backend stops the browser using a _mock_\n  profile object. Use this flag as a _last-resort_ fallback when the regular\n  stop sequence has failed (e.g. network outage during sync-up). Do not use this flag unless you know what you are doing, because browser profile may become messed up.\n","parameters":[{"name":"browserProfileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"Identifier of the Browser profile to stop."},{"name":"afterReAuth","in":"query","required":false,"schema":{"type":"boolean"},"description":"Set to **true** only when this call is made automatically right after\nthe user re-authenticates. Defaults to **false**.\n"},{"name":"retryToStop","in":"query","required":false,"schema":{"type":"boolean"},"description":"Forces a hard stop that ignores the real profile data and relies on a\nmock object. Intended exclusively for emergency use when the standard\nshutdown path is stuck.\n"}],"responses":{"200":{"description":"Browser process was stopped (or was not running anymore).","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","description":"Indicates whether the shutdown sequence succeeded.","example":true},"message":{"type":["string","null"],"description":"Optional diagnostic text when `success` is **false**.","example":"PID file not found – assuming the browser has already exited."}}},"examples":{"stopped_successfully":{"value":{"success":true}},"stop_failed":{"value":{"success":false,"message":"PID file not found – assuming the browser has already exited."}}}}}},"401":{"description":"Unauthorized – missing or invalid JWT token."},"500":{"description":"Internal error while stopping the Browser process or syncing the profile data."}}}},"/v1.0/browser_profiles/{browserProfileId}/start":{"post":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Profile Start/Stop"],"summary":"Start a Browser profile","operationId":"startBrowserProfile","description":"Launches a local Dolphin{anty} browser instance bound to the specified **Browser profile**.\n\nThe call downloads the profile data directory from the cloud (if needed),\napplies fingerprint preferences, prepares the proxy and finally launches the\nChromium-based Anty browser. When the profile starts successfully the\nendpoint responds immediately – further interaction (tab management,\nautomation, etc.) is done via the desktop application or the Automation\nAPIs.\n\n## **[Basic automation help article](https://intercom.help/dolphinteam/en/articles/7127390-basic-automation-dolphin-anty#h_d1a7399430)** – This article greatly describes the overall automation process and may help you.\n\n### Plan limitations\n1. The **Free** plan is limited to **three** simultaneously running profiles.\n   Attempts to start a fourth one return **HTTP&nbsp;499** (`FREE_PLAN_PROFILE_LIMIT_EXCEEDED`).\n\n2. The *remote automation* feature (`automation = true`) is **disabled** on\n   the Free plan – the backend returns **HTTP&nbsp;402** when requested.\n   \n3. System-wide hard limit on concurrent launches may trigger **HTTP&nbsp;429**.\n\n### Important points\n\n1. The Local API is available **only while the Dolphin{anty} desktop application is running** and the user is authorised.\n\n2. Requests **must originate from the same machine** – the Local API is bound to the local loopback interface and is not exposed externally.\n\n3. The service listens on **port&nbsp;3001** by default. When that port is already occupied Dolphin{anty} automatically selects the next free port; the actual port can be checked in the app under **Settings → Health**.\n\n4. To enable DevTools Protocol automation you **must** pass `automation = true` (either as a query parameter `?automation=1` for **GET** calls or inside the JSON body for **POST** calls). When `automation` is omitted the profile is launched in a regular, non-remote-controllable mode.\n\n5. Headless launches are supported by setting `headless = true` (`&headless=1` in the query string) which implies that no tabs will be restored (`noTabs = true`).\n","parameters":[{"name":"browserProfileId","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"description":"Identifier of the Browser profile to launch."}],"requestBody":{"required":false,"description":"Optional JSON payload tweaking the launch parameters. When omitted the backend uses default values.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/browser_profile_start"}}}},"responses":{"200":{"description":"Browser process was started successfully.","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","description":"Indicates that the browser launch sequence succeeded.","example":true},"automation":{"type":["object","null"],"description":"Present only when `automation = true`.","required":["port","wsEndpoint"],"properties":{"port":{"type":"integer","description":"Local port exposing the Chrome DevTools Protocol.","example":38927},"wsEndpoint":{"type":"string","description":"Full `ws://` URL Automation clients must connect to.","example":"ws://127.0.0.1:38927/devtools/browser/abc123"}}}}},"examples":{"launched_without_automation":{"value":{"success":true}},"launched_with_automation":{"value":{"success":true,"automation":{"port":38123,"wsEndpoint":"ws://127.0.0.1:38123/devtools/browser/e9fca23c-c2fa-46f3-b324-b1172745078e"}}}}}}},"400":{"description":"Validation error (malformed payload, unsupported parameter value, etc.)."},"401":{"description":"Unauthorized – missing or invalid JWT token."},"402":{"description":"Plan restriction – automation is not available on the Free plan."},"429":{"description":"Too many concurrent Browser launches (system-wide limit reached)."},"499":{"description":"Free plan restriction – more than three profiles are already running."},"500":{"description":"Internal server error or failure to launch the Browser."}}}},"/v1.0/auth/login-with-token":{"post":{"servers":[{"url":"https://localhost:3001","description":"Local API"}],"tags":["Authentication"],"summary":"Log in the Local API with an existing remote JWT","operationId":"loginWithToken","description":"Stores the remote Dolphin{anty} **JWT token** inside the Local API instance\nand validates it by requesting the `/user` endpoint of the remote API.\nWhen the token is valid and belongs to a team account the Local API:\n\n1. Persists the token in its encrypted storage.\n2. Emits event so that running UI clients refresh their state.\n3. Fetches the current user's subscription metadata and caches it for quick\n   access.\n\n### Important points\n\n- The Local API is reachable **only** while the Dolphin{anty} desktop application is running on the same PC.\n\n- The default listening port is **3001** – if the port is busy Dolphin{anty} will pick the next free one; check the actual port in the **Health** window.\n\n- This endpoint must be called **from the machine where Dolphin{anty} is running**; remote connections are not accepted.\n\n- The request **must** include the `Content-Type: application/json` header and a JSON body of the form `{ \"token\": \"YOUR_API_TOKEN\" }`.\n\n- A valid token is required.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/login_with_token"}}}},"responses":{"200":{"description":"Token was accepted and stored.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"success":{"value":{"success":true}}}}}},"401":{"description":"Invalid or expired token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessResponse"},"examples":{"unauthorized":{"value":{"success":false}}}}}},"500":{"description":"Internal server error."}}}}},"components":{"schemas":{"pagination_metadata":{"type":"object","properties":{"current_page":{"type":"integer","description":"Current page number of the results set."},"first_page_url":{"type":"string","description":"Absolute URL pointing to the first page of results."},"from":{"type":["integer","null"],"description":"Index (1-based) of the first item returned in the current page, or null if the collection is empty."},"last_page":{"type":"integer","description":"Total number of pages available based on the current filter."},"last_page_url":{"type":"string","description":"Absolute URL pointing to the last page of results."},"next_page_url":{"type":["string","null"],"description":"Absolute URL for the next page of results, or null if this is the last page."},"path":{"type":"string","description":"Base path for the paginated resource (without query parameters)."},"per_page":{"type":"integer","description":"Maximum number of items returned per page."},"prev_page_url":{"type":["string","null"],"description":"Absolute URL for the previous page of results, or null if this is the first page."},"to":{"type":["integer","null"],"description":"Index (1-based) of the last item returned in the current page, or null if the collection is empty."},"total":{"description":"Total number of items across all pages.","oneOf":[{"type":"integer"},{"type":"string","description":"Results count"}]}}},"proxy":{"type":"object","description":"A proxy configuration object.","required":["id","type","host","port"],"properties":{"id":{"type":"integer","format":"int64"},"teamId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"name":{"type":["string","null"],"description":"Human-readable alias for the proxy. Optional. Used in the UI to fastly recognize or search for the proxy. If skipped, the proxy will be named after it is host, port, login (if provided) and password (if provided), i.e. `protocol://login:password@host:port`."},"type":{"type":"string","description":"Proxy protocol type.","enum":["http","socks4","socks5","ssh"]},"host":{"type":"string","description":"Proxy URL or IPv4/IPv6 address."},"port":{"type":"integer","description":"Proxy port."},"login":{"type":["string","null"],"description":"Username for proxy authentication. Optional."},"password":{"type":["string","null"],"description":"Password for proxy authentication. Optional."},"changeIpUrl":{"type":["string","null"],"description":"URL that triggers IP rotation for the proxy. Optional. Some mobile proxy provider give the ability to rotate IP by sending a request to a special URL, and our app gives user a button to do that."},"provider":{"type":["string","null"],"description":"Provider identifier if the proxy originates from a supported provider. Optional."},"ip":{"type":["string","null"],"description":"Public IP address detected for this proxy (same value as `lastCheck.ip` in legacy payloads). Returned by the backend."},"savedByUser":{"type":"boolean","description":"Indicates whether the proxy was explicitly created by the user (`true`) or auto-imported (`false`). Returned by the backend."},"browser_profiles_count":{"type":"integer","description":"Number of browser profiles linked to this proxy (that are using this proxy)."},"lastCheck":{"oneOf":[{"type":"object","description":"Result of the last connectivity check. The check is performed by the app on your PCs.","properties":{"createdAt":{"type":"string","format":"date-time","description":"Date and time when the last connectivity check was performed."},"status":{"type":"boolean","description":"Indicates whether the proxy passed the connectivity check (`true`) or failed (`false`)."},"ip":{"type":"string","description":"Public IP address detected during the connectivity check."},"country":{"type":"string","description":"Country associated with the detected IP address."},"region":{"type":"string","description":"Region (state or province) associated with the detected IP address."},"city":{"type":"string","description":"City associated with the detected IP address."},"timezone":{"type":"string","description":"Time zone of the detected IP address location."},"found":{"type":"integer","description":"Number of blacklist services that reported the proxy's IP."},"total":{"type":"integer","description":"Total number of blacklist services that were checked."},"blacklists":{"type":"array","description":"Names of blacklist services where the proxy's IP was found.","items":{"type":"string"}}}},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"proxy_list":{"allOf":[{"$ref":"#/components/schemas/pagination_metadata"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/proxy"}}}}]},"proxy_create":{"type":"object","description":"Parameters required to create a proxy. Most of those parameters will be given for you by your proxy provider. The connection to proxy will be established by the app on your PCs.","required":["ty
[...]
